<h2>CrimeWatch </h2>

<!-- <div style="margin-top: 20px;">
  <h3>Live Feed </h3>
</div> -->

<!-- <div style="margin-top: 20px; border: 1px solid #ccc; padding: 10px; width: 300px;">
  <h4>Latest Alert</h4>
  <p><strong>Time:</strong> {{ latestAlert.time }}</p>
  <p><strong>Location:</strong> {{ latestAlert.location }}</p>
  <p><strong>Type:</strong> {{ latestAlert.type }}</p>
  <p><strong>Status:</strong> {{ latestAlert.status }}</p>
</div> -->

<div style="margin-top: 20px; border: 1px solid #ccc; padding: 10px; width: 400px;">
  <h4>Upload Video</h4>
  <input type="file" accept="video/*" (change)="onVideoSelected($event)">
  <button (click)="uploadVideo()" [disabled]="!selectedVideo">Upload</button>
  <div *ngIf="uploadedVideoUrl">
    <h5>Preview:</h5>
    <video [src]="uploadedVideoUrl" controls width="300"></video>
  </div>
</div>

<div id="live-video-section" style="margin-top: 20px; border: 1px solid #ccc; padding: 10px; width: 400px;">
  <h4>Live Video</h4>
  <video #liveVideo width="400" height="300" autoplay muted></video>
  <p *ngIf="!isLive">Live video not started.</p>
  <button (click)="startLiveVideo()" [disabled]="isLive">Start Live Video</button>
  <button (click)="stopLiveVideo()" [disabled]="!isLive">Stop Live Video</button>
</div>
