<h2>CrimeWatch </h2>

<!-- <div style="margin-top: 20px;">
  <h3>Live Feed </h3>
</div> -->

<!-- <div style="margin-top: 20px; border: 1px solid #ccc; padding: 10px; width: 300px;">
  <h4>Latest Alert</h4>
  <p><strong>Time:</strong> {{ latestAlert.time }}</p>
  <p><strong>Location:</strong> {{ latestAlert.location }}</p>
  <p><strong>Type:</strong> {{ latestAlert.type }}</p>
  <p><strong>Status:</strong> {{ latestAlert.status }}</p>
</div> -->

<div id="live-video-section" class="video-section">
  <h4>Live Video</h4>
  <div class="video-container">
    <video #liveVideo width="400" height="300" autoplay muted></video>
    <div class="timestamp" *ngIf="isLive">{{ currentTime }}</div>
  </div>
  <p *ngIf="!isLive">Live video not started.</p>
  <button (click)="startLiveVideo()" [disabled]="isLive">Start Live Video</button>
  <button (click)="stopLiveVideo()" [disabled]="!isLive">Stop Live Video</button>
</div>
